<div class="row marketing">
<div ng-controller="MainCtrl" class="control-group ng-scope">

<div id="contents" class="column" style="visibility: visible;">
<div id="score">
    <div class="pointsPanel"><h2><span>你的总评分为:</span> <strong>{{getPoints()}}</strong> <span>60(含)可以提交EOI申请</span>
    </h2></div>
</div>
<div id="results">
    <div class="resultsTable detailsTable">
        <div class="left">
            <div>


                    <table cellspacing="0" id="table-microdata">
                        <thead>
                        <tr id="head-microdata">
                            <th colspan="2">年龄
                                <div>
                                    <div class="grade"><span class="great">10</span></div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="row-microdata-microdata">
                            <th class="hasLink">
                                <div><input ng-model="age"></div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" id="table-location">
                        <thead>
                        <tr id="head-location">
                            <th colspan="2">雅思成绩
                                <div>
                                    <div class="grade"><span class="great">20</span></div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="row-location-geolocation">
                            <th class="hasLink">
                                <label class="radio inline"><input type="radio" value="0" ng-model="ieltsPoints">听说读写均达到6</label>
                                <label class="radio inline"><input type="radio" value="10" ng-model="ieltsPoints">听说读写均达到7</label>
                                <label class="radio inline"><input type="radio" value="20" ng-model="ieltsPoints">听说读写均达到8</label>
                            </th>
                        </tr>
                        </tbody>
                    </table>



                <table cellspacing="0" id="table-webrtc">
                    <thead>
                    <tr id="head-webrtc">
                        <th colspan="2">学历
                            <div>
                                <div class="grade"><span class="good">15/20</span></div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row-webrtc-webrtc">
                        <th class="hasLink">
                            <label class="radio inline"><input type="radio" value="15" ng-model="eduPoints"
                                                               class="ng-pristine ng-valid" name="007">BS/MS</label>
                            <label class="radio inline"><input type="radio" value="20" ng-model="eduPoints"
                                                               class="ng-pristine ng-valid" name="008">Phd</label>
                        </th>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="right">
            <div>


                <table cellspacing="0" id="table-webgl">
                    <thead>
                    <tr id="head-webgl">
                        <th colspan="2">工作年限
                            <div>
                                <div class="grade"><span class="great">20</span></div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row-webgl-context">
                        <th class="hasLink">
                            <label class="radio inline"><input type="radio" value="15" ng-model="empYearsPoints"> 8+ </label>
                            <label class="radio inline"><input type="radio" value="10" ng-model="empYearsPoints"> 5+ </label>
                            <label class="radio inline"><input type="radio" value="5" ng-model="empYearsPoints"> 3+</label>
                            <label class="radio inline"><input type="radio" value="0" ng-model="empYearsPoints"> 3-</label>
                        </th>
                    </tr>
                    </tbody>
                </table>
                <table cellspacing="0" id="table-animation">
                    <thead>
                    <tr id="head-animation">
                        <th colspan="2">其他加分
                            <div>
                                <div class="grade"><span class="great">5</span></div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row-animation-requestAnimationFrame">
                        <th class="hasLink">
                            <input type="checkbox" ng-model="spouseBonus" class="ng-pristine ng-valid"> 配偶符合加分的要求。
                            <input type="checkbox" ng-model="stateSponsorship" class="ng-pristine ng-valid"> 我符合州担保的条件。
                        </th>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="paper">
    <div>
        <h2>关于澳洲技术移民签证在线打分系统</h2>

        <div class="text">
            <span id="html5"></span>

            <p data-i18n="index-intro-1">本算分器不包含打分表中的所有内容，省略的内容都是对90%的国内同学没有用的内容。EOI及格线为60分。</p>

            <p data-i18n="index-intro-2">
                The HTML5 test does not try to test all of the new features offered by HTML5, nor does it
                try to test the functionality of each feature it does detect.
                Despite these shortcomings we hope that by quantifying the level of support users and web
                developers will get an idea of how hard the
                browser manufacturers work on improving their browsers and the web as a development
                platform.
            </p>

            <p data-i18n="index-intro-3">
                The score is calculated by testing for the many new features of HTML5. Each feature is worth
                one or more points. Apart from the main HTML5
                specification and other specifications created the W3C HTML Working Group or WHATWG, this
                test also awards points for supporting related drafts and
                specifications.
            </p>

            <p data-i18n="index-intro-5">
                Please be aware that although the HTML5 specification is now an official recommendation,
                other specifications that are being tested are still in development
                and could change before receiving an official status.
                In the future new tests will be added for new specifications and existing tests will be
                updated when the specifications change.
            </p>

            <h3>Help us improve HTML5 test by donating</h3>

            <p>
                This will allow us to spend more time on HTML5test.com and acquire more devices for our
                testing lab.

            </p>
        </div>
    </div>

    <div class="buttons">
        <a class="button donate"
           href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=9DNBJPQFEHYSC"><span>Donate using Paypal</span></a>
        <a class="button followme" href="http://www.twitter.com/html5test"><span>Follow me on Twitter</span></a>
        <a class="button contact" href="mailto:info@html5test.com"><span>Contact me</span></a>
        <a class="button developed"
           href="https://github.com/NielsLeenheer/html5test"><span>Developed at Github</span></a>
    </div>
</div>

</div>

</div>
</div>
