<div class="row marketing">
<div ng-controller="MainCtrl">

<div id="contents" class="column" style="visibility: visible;">
<div id="score">
    <div class="pointsPanel"><h2><span>你的总评分为:</span> <strong>{{getPoints()}}</strong> <span>60(含)可以提交EOI申请</span>
    </h2></div>
</div>
<div id="results">
    <div class="resultsTable detailsTable">
        <div class="left">
            <div>


                    <table cellspacing="0" id="table-microdata">
                        <thead>
                        <tr id="head-microdata">
                            <th colspan="2">年龄
                                <div>
                                    <div class="grade"><span class="great">{{agePoints}}</span></div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="row-microdata-microdata">
                            <th class="hasLink">
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="agePoints" btn-radio="'30'">25到32岁</label>
                                    <label class="btn btn-primary" ng-model="agePoints" btn-radio="'25'">18到24岁或33到39岁</label>
                                    <label class="btn btn-primary" ng-model="agePoints" btn-radio="'15'">40到44岁</label>
                                    <label class="btn btn-primary" ng-model="agePoints" btn-radio="'0'">45到49岁</label>
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <table cellspacing="0" id="table-location">
                        <thead>
                        <tr id="head-location">
                            <th colspan="2">雅思成绩
                                <div>
                                    <div class="grade"><span class="great">{{ieltsPoints}}</span></div>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr id="row-location-geolocation">
                            <th class="hasLink">
                                听说读写四项最低分：
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-model="ieltsPoints" btn-radio="'0'">6</label>
                                    <label class="btn btn-primary" ng-model="ieltsPoints" btn-radio="'10'">7</label>
                                    <label class="btn btn-primary" ng-model="ieltsPoints" btn-radio="'20'">8</label>
                                </div>
                            </th>
                        </tr>
                        </tbody>
                    </table>



                <table cellspacing="0" id="table-webrtc">
                    <thead>
                    <tr id="head-webrtc">
                        <th colspan="2">学历
                            <div>
                                <div class="grade"><span class="good">{{eduPoints}}</span></div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row-webrtc-webrtc">
                        <th class="hasLink">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="eduPoints" btn-radio="'15'">学士或硕士</label>
                                <label class="btn btn-primary" ng-model="eduPoints" btn-radio="'20'">博士</label>
                            </div>
                        </th>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="right">
            <div>


                <table cellspacing="0" id="table-webgl">
                    <thead>
                    <tr id="head-webgl">
                        <th colspan="2">工作年限
                            <div>
                                <div class="grade"><span class="great">{{empYearsPoints}}</span></div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row-webgl-context">
                        <th class="hasLink">
                            <div class="btn-group">
                                <label class="btn btn-primary" ng-model="empYearsPoints" btn-radio="'15'">8年或以上</label>
                                <label class="btn btn-primary" ng-model="empYearsPoints" btn-radio="'10'">5年或以上</label>
                                <label class="btn btn-primary" ng-model="empYearsPoints" btn-radio="'5'">3年或以上</label>
                                <label class="btn btn-primary" ng-model="empYearsPoints" btn-radio="'0'">3年以下</label>
                            </div>

                        </th>
                    </tr>
                    </tbody>
                </table>
                <table cellspacing="0" id="table-animation">
                    <thead>
                    <tr id="head-animation">
                        <th colspan="2">其他加分
                            <div>
                                <div class="grade"><span class="great">{{spouseBonusPoints + stateSponsorshipPoints}}</span></div>
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr id="row-animation-requestAnimationFrame">
                        <th class="hasLink">
                            <button type="button" class="btn btn-primary" ng-model="spouseBonusPoints" btn-checkbox btn-checkbox-true="5" btn-checkbox-false="0">
                                配偶符合加分的要求。
                            </button>
                            <button type="button" class="btn btn-primary" ng-model="stateSponsorshipPoints" btn-checkbox btn-checkbox-true="5" btn-checkbox-false="0">
                                我符合州担保的条件。
                            </button>
                        </th>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div class="paper">
    <div>

        <div class="text">
            <span>本算分器不包含打分表中的所有内容，省略的内容都是对90%的国内同学没有用的内容。EOI及格线为60分。</span>
        </div>
    </div>

</div>

</div>

</div>
</div>
